{% extends "base.html" %}

{% block title %}
	get-down Login
{% endblock%}

{% block content %}

<div class="container">
	<div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        	<form action="" method="POST">
				<div class="row control-group">
        			<div class="form-group col-xs-12 floating-label-form-group controls">
        				<label>Username</label>
        				<input type="text" class="form-control" placeholder="Category Name" name="category"/>
        			</div>
        		</div>
        		<div class="row control-group">
        			<div class="form-group col-xs-12 floating-label-form-group controls">
        				<label>password</label>
        				<input type="text" class="form-control" placeholder="Category Name" name="category"/>
        			</div>
        		</div>
        		<br>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    </div>
                </div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
