{% extends "base.html" %}

{% block title %}
	Create Card
{% endblock %}

{% block content %}
	<section id="contact">
		<div class="container">
            <div class="row">
                <article class="flashes">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li>{{message}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </article>
            </div>
        </div>

		<div class="container">
			<div class="row">
				<section>
					<h2>Recently added</h2>
					{% if new_category %}
						<ul>
							{% for bm in new_category %}
								<li><a href="{{ url_for('user', username=bm.user.username) }}">{{ bm.user.username }}</a> added <a href="{{ bm.category_name }}">{{ bm.category_name }}</a></li>
							{% endfor %}
						</ul>
					{% else %}
						No cateogories added
					{% endif %}
				</section>
			</div>
		</div>
	</section>
{% endblock %}